<div class="col-md-4">

    <ul class="list-group">
        <li class="list-group-item redirect_url">
            <a href={{ path('reduction_url_redirect', {'code': url.hash}) }} target="_blank"><i class="fas fa-link"></i> {{ url.hash }}</a>
            <i class="fas fa-calculator"></i> <span id="count">{{ url.count }}</span>

            <a href={{ path('staictic') }}>
                <i class="fas fa-external-link-alt"></i>
            </a>
        </li>
    </ul>

</div>